#
# Sensor device configuration
#

config HIEDMAC
	tristate "Hisilicon EDMAC Controller support"
	depends on (ARCH_HISI || ARCH_HI3559AV100 || ARCH_HI3519AV100 || ARCH_HI3556AV100)
	help
	  The Direction Memory Access(EDMA) is a high-speed data transfer
	  operation. It supports data read/write between peripherals and
	  memories without using the CPU.
	  Hisilicon EDMA Controller(EDMAC) directly transfers data between
	  a memory and a peripheral, between peripherals, or between memories.
	  This avoids the CPU intervention and reduces the interrupt handling
	  overhead of the CPU.

if HIEDMAC

config HIEDMAC_CHANNEL_NUM
	int "hiedmac channel num"
	default "8" if ARCH_HI3559AV100 || ARCH_HI3519AV100 || ARCH_HI3556AV100

endif
