config VIDEO_NVP6324
       tristate "Nextchip NVP6324 decoder"
       depends on VIDEO_V4L2 && I2C && VIDEO_V4L2_SUBDEV_API
       ---help---
          Support for the Nextchip NVP6324 AHD/CVBS to MIPI CSI-2 bridge.

          To compile this driver as a module, choose M here: the
          module will be called nvp6324.

