/*
 * Technology Development Co.,Ltd
 * http://www.nedi.com.cn
 * Varphone Wong <varphone@qq.com>
 */

/dts-v1/;
#include "imx6q.dtsi"
#include "myimx6ek200-cm.dtsi"

/ {
	model = "TDC Car Video Recorder for Military (V2-Y30)";
	compatible = "tdc,cvr-mil-v2-y30", "tdc,cvr-mil-v2", "myzr,myimx6", "myzr,myimx6q", "myzr,myimx6cb200", "myzr,myimx6ek200", "fsl,imx6q", "fsl,imx6q-ldb";

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		/* global autoconfigured region for contiguous allocations */
		linux,cma {
			compatible = "shared-dma-pool";
			reusable;
			size = <0x1E000000>;
			linux,cma-default;
		};
	};

	lcd@0 {
		compatible = "fsl,bt656";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_adv739x_tvout>;
		ipu_id = <0>;
		disp_id = <0>;
		default_ifmt = "BT656";
		status = "okay";
	};
};

&iomuxc {
	cvr-mil-v2-y30 {
		pinctrl_adv739x_tvout: adv739xtvoutgrp {
			fsl,pins = <
				MX6QDL_PAD_DI0_DISP_CLK__IPU1_DI0_DISP_CLK 0x10
				MX6QDL_PAD_DISP0_DAT16__IPU1_DISP0_DATA16  0x10
				MX6QDL_PAD_DISP0_DAT17__IPU1_DISP0_DATA17  0x10
				MX6QDL_PAD_DISP0_DAT18__IPU1_DISP0_DATA18  0x10
				MX6QDL_PAD_DISP0_DAT19__IPU1_DISP0_DATA19  0x10
				MX6QDL_PAD_DISP0_DAT20__IPU1_DISP0_DATA20  0x10
				MX6QDL_PAD_DISP0_DAT21__IPU1_DISP0_DATA21  0x10
				MX6QDL_PAD_DISP0_DAT22__IPU1_DISP0_DATA22  0x10
				MX6QDL_PAD_DISP0_DAT23__IPU1_DISP0_DATA23  0x10
			>;
		};
		pinctrl_adv739x_tvout_gpios: adv739xtvoutgpiosgrp {
			fsl,pins = <
				MX6QDL_PAD_DI0_PIN2__GPIO4_IO18            0x80000000
				MX6QDL_PAD_DI0_PIN3__GPIO4_IO19            0x80000000
			>;
		};
	};
};

&i2c1 {
	adv7391_tvout@2b {
		compatible = "fsl,adv739x_tvout";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_adv739x_tvout_gpios>;
		hsync-gpios = <&gpio4 18 0>;
		vsync-gpios = <&gpio4 19 0>;
		reg = <0x2b>;
		default_ifmt = "BT656";
		ipu_id = <0>;
		disp_id = <0>;
	};

	atm88pa@7a {
		power {
			/* poweroff GPIO5_IO20, ACTIVE_LOW */
			gpios = <&gpio5 20 1>;
		};
	};
};

&ldb {
	lvds-channel@0 {
		crtc = "ipu2-di0";
	};
	lvds-channel@1 {
		crtc = "ipu2-di1";
	};
};

&can1 {
	status = "okay";
};

&can2 {
	status = "disabled";
};

&fec {
	status = "disabled";
};

&hdmi_audio {
	status = "disabled";
};

&hdmi_cec {
	status = "disabled";
};

&hdmi_core {
	status = "disabled";
};

&hdmi_video {
	status = "disabled";
};

&i2c2 {
	status = "disabled";
};

&i2c3 {
	status = "disabled";
};

&mxcfb1 {
	compatible = "fsl,mxc_sdc_fb";
	disp_dev = "adv739x";
	interface_pix_fmt = "BT656";
	mode_str ="BT656-PAL";
	default_bpp = <32>;
	int_clk = <0>;
	late_init = <0>;
	status = "okay";
};

&mxcfb2 {
	status = "disabled";
};

&mxcfb3 {
	status = "disabled";
};

&mxcfb4 {
	status = "disabled";
};

&pcie {
	status = "disabled";
};

&pwm1 {
	status = "disabled";
};

&sata {
	status = "disabled";
};

&snvs {
	status = "disabled";
};
