/*
 * MYZR Technology Co.,Ltd
 * http://www.myzr.com.cn
 * Tang Bin <tangb@myzr.com.cn>
 */

#include "myimx6cb200.dtsi"
#include "myimx6ek200-iomux.dtsi"

/ {
	aliases {
		mxcfb0 = &mxcfb1;
		mxcfb1 = &mxcfb2;
		mxcfb2 = &mxcfb3;
		mxcfb3 = &mxcfb4;
	};

	memory: memory {
		reg = <0x10000000 0x80000000>;
	};
	
	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		reg_usb_otg_vbus: regulator@0 {
			compatible = "regulator-fixed";
			reg = <0>;
			regulator-name = "usb_otg_vbus";
			enable-active-high;
		};

		reg_usb_h1_vbus: regulator@1 {
			compatible = "regulator-fixed";
			reg = <1>;
			regulator-name = "usb_h1_vbus";
			enable-active-high;
		};

		reg_audio: regulator@2 {
			compatible = "regulator-fixed";
			reg = <2>;
			regulator-name = "wm8962-supply";
			enable-active-high;
		};
	};
	
	sound-hdmi {
		compatible = "fsl,imx6q-audio-hdmi",
			     "fsl,imx-audio-hdmi";
		model = "imx-audio-hdmi";
		hdmi-controller = <&hdmi_audio>;
	};

	mxcfb1: fb@0 {
		compatible = "fsl,mxc_sdc_fb";
		disp_dev = "ldb";
		interface_pix_fmt = "RGB666";
		default_bpp = <16>;
		int_clk = <0>;
		late_init = <0>;
		status = "disabled";
	};

	mxcfb2: fb@1 {
		compatible = "fsl,mxc_sdc_fb";
		disp_dev = "hdmi";
		interface_pix_fmt = "RGB24";
		mode_str ="1920x1080M@60";
		default_bpp = <24>;
		int_clk = <0>;
		late_init = <0>;
		status = "disabled";
	};

	mxcfb3: fb@2 {
		compatible = "fsl,mxc_sdc_fb";
		disp_dev = "lcd";
		interface_pix_fmt = "RGB565";
		mode_str ="CLAA-WVGA";
		default_bpp = <16>;
		int_clk = <0>;
		late_init = <0>;
		status = "disabled";
	};

	mxcfb4: fb@3 {
		compatible = "fsl,mxc_sdc_fb";
		disp_dev = "ldb";
		interface_pix_fmt = "RGB666";
		default_bpp = <16>;
		int_clk = <0>;
		late_init = <0>;
		status = "disabled";
	};

	lcd@0 {
		compatible = "fsl,lcd";
		ipu_id = <0>;
		disp_id = <0>;
		default_ifmt = "RGB24";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_lcd_disp>;
		status = "okay";
	};

	backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm1 0 5000000>;
		brightness-levels = <0 36 72 108 144 180 216 255>;
		default-brightness-level = <7>;
		status = "okay";
	};

	v4l2_cap_0 {
		compatible = "fsl,imx6q-v4l2-capture";
		ipu_id = <0>;
		csi_id = <0>;
		mclk_source = <0>;
		status = "okay";
	};

	v4l2_cap_1 {
		compatible = "fsl,imx6q-v4l2-capture";
		ipu_id = <0>;
		csi_id = <1>;
		mclk_source = <0>;
		status = "okay";
	};

	v4l2_cap_2 {
		compatible = "fsl,imx6q-v4l2-capture";
		ipu_id = <1>;
		csi_id = <0>;
		mclk_source = <0>;
		status = "okay";
	};

	v4l2_cap_3 {
		compatible = "fsl,imx6q-v4l2-capture";
		ipu_id = <1>;
		csi_id = <1>;
		mclk_source = <0>;
		status = "okay";
	};

	v4l2_out {
		compatible = "fsl,mxc_v4l2_output";
		status = "okay";
	};
};

&clks {
	fsl,ldb-di0-parent = <&clks 4>; /* IMX6QDL_CLK_PLL2_PFD0_352M */
	fsl,ldb-di1-parent = <&clks 4>; /* IMX6QDL_CLK_PLL2_PFD0_352M */
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_eim0_pad &pinctrl_sd1_pad &pinctrl_sd3_pad &pinctrl_gpio_pad &pinctrl_nandf_mipi_csi &pinctrl_nandf_pcie>;
};

&dcic1 {
	dcic_id = <0>;
	dcic_mux = "dcic-hdmi";
	status = "okay";
};

&dcic2 {
	dcic_id = <1>;
	dcic_mux = "dcic-lvds0";
	status = "okay";
};

&gpc {
	fsl,ldo-bypass = <1>;
	fsl,wdog-reset = <1>;
};

&audmux {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_csi_aud3 &pinctrl_eim0_hp_det>;
	status = "okay";
};

&ssi2 {
	fsl,mode = "i2s-slave";
	status = "okay";
};

&ecspi2 {
	fsl,spi-num-chipselects = <1>;
	cs-gpios = <&gpio2 27 0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_eim1_spi2>;
	status = "okay";

	spidev@0 {
		compatible = "spidev";
		spi-max-frequency = <20000000>;
		reg = <0>;
	};
};

&fec {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enet_enet &pinctrl_gpio_enet>;
	phy-mode = "rmii";
	phy-reset-gpios = <&gpio1 23 0>;
	fsl,magic-packet;
	status = "okay";
};

&can1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gpio_can1>;
	status = "okay"; 
};

&can2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gpio_can2>;
	status = "okay";
};

&hdmi_audio {
	status = "okay";
};

&hdmi_cec {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gpio_hdmi>;
	status = "okay";
};

&hdmi_core {
	ipu_id = <0>;
	disp_id = <0>;
	status = "okay";
};

&hdmi_video {
	fsl,phy_reg_vlev = <0x0294>;
	fsl,phy_reg_cksymtx = <0x800d>;
	status = "okay";
};

&i2c1 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_csi_i2c1>;
	status = "okay";

	apds9306@52 {
		compatible = "tdc,apds9306";
		reg = <0x52>;
	};

	atm88pa@7a {
		compatible = "tdc,atm88pa";
		reg = <0x7a>;
		interrupt-parent = <&gpio5>;
		interrupts = <20 0>;
		linux,wakeup;
		status = "okay";

		keypad {
			debounce_time = <1>;
			repeat = <1>;
			/* KEY_ENTER, KEY_ESC, KEY_UP, KEY_DOWN, KEY_F4, KEY_F5, KEY_F6, KEY_POWER */
			keymap = /bits/ 16 <28 1 103 108 62 63 64 116>;
		};

		leds {
			keypad-bl@0 {
				id = <0>;
				label = "keypad-bl";
				brightness = <0>;
				max-brightness = <100>;
			};
			camera-sl@1 {
				id = <1>;
				label = "camera-sl";
				brightness = <0>;
				max-brightness = <100>;
			};
			fault@2 {
				id = <2>;
				label = "fault";
				brightness = <0>;
				max-brightness = <1>;
			};
		};

		power {
			/* poweroff GPIO1_IO13, ACTIVE_LOW */
			gpios = <&gpio1 13 1>;
		};
	};

	isl1208@6f {
		compatible = "rtc,isl1208";
		reg = <0x6f>;
	};

	isl7998x_mipi@44 {
		compatible = "intersil,isl7998x_mipi";
		reg = <0x44>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_isl7998x>;
		clocks = <&clks 201>;
		clock-names = "csi_mclk";
		csi_id = <0>;
		mclk = <27000000>;
		mclk_source = <0>;
		interrupt-parent = <&gpio1>;
		interrupts = <11 0>;
		/* GPIO Interrupts: INT, MPP1, MPP2 */
		irq-gpios = <&gpio1 11 0>, <&gpio1 14 0>, <&gpio1 15 0>;
		reset-gpios = <&gpio1 10 1>;
		power-gpios = <&gpio1 12 1>;
	};

	mty065x-bl@1b {
		compatible = "tdc,mty065x-bl";
		reg = <0x1b>;
		pingctrl-names = "default";
		/* Driver properties */
		display-size = /bits/ 16 <854 480 1280 720>;
		input-format = /bits/ 8 <0x41>;
		input-select = /bits/ 8 <0x00>;
		image-crop = /bits/ 16 <0 0 1280 720>;
	};

	rx8025@32 {
		compatible = "rtc,rx8025";
		reg = <0x32>;
		/* Default date time: 2016-8-1 0:0:0 */
		def-rtc-time = <0 0 0 1 7 116 1 0 0>;
	};
};

&i2c2 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gpio_i2c2>;
	status = "okay";

	hdmi: edid@50 {
		compatible = "fsl,imx6-hdmi-i2c";
		reg = <0x50>;
	};
};

&i2c3 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gpio_i2c3>;
	status = "okay";
};

&ldb {
	status = "okay";

	lvds-channel@0 {
		fsl,data-mapping = "spwg";
		fsl,data-width = <18>;
		primary;
		status = "okay";

		display-timings {
			native-mode = <&timing0>;
			timing0: hsd100pxn1 {
				clock-frequency = <64022400>;
				hactive = <1280>;
				vactive = <720>;
				hback-porch = <80>;
				hfront-porch = <48>;
				vback-porch = <13>;
				vfront-porch = <3>;
				hsync-len = <32>;
				vsync-len = <5>;
			};
		};
	};

	lvds-channel@1 {
		fsl,data-mapping = "spwg";
		fsl,data-width = <18>;
		status = "okay";

		display-timings {
			native-mode = <&timing1>;
			timing1: hsd100pxn1 {
				clock-frequency = <64022400>;
				hactive = <1280>;
				vactive = <720>;
				hback-porch = <80>;
				hfront-porch = <48>;
				vback-porch = <13>;
				vfront-porch = <3>;
				hsync-len = <32>;
				vsync-len = <5>;
			};
		};
	};
};

&mipi_csi {
	status = "okay";
	lanes = <2>;

	mipi-csi2-channel@0 {
		ipu_id = <0>;
		csi_id = <0>;
		v_channel = <0>;
		status = "okay";
	};

	mipi-csi2-channel@1 {
		ipu_id = <0>;
		csi_id = <1>;
		v_channel = <1>;
		status = "okay";
	};

	mipi-csi2-channel@2 {
		ipu_id = <1>;
		csi_id = <0>;
		v_channel = <2>;
		status = "okay";
	};

	mipi-csi2-channel@3 {
		ipu_id = <1>;
		csi_id = <1>;
		v_channel = <3>;
		status = "okay";
	};
};

&pwm1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sd1_pwm1>;
	status = "okay";
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_csi_uart1>;
	status = "okay";
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_eim0_uart2>;
	status = "okay";
};

&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_eim0_uart3>;
	status = "okay";
};

&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gpio_uart4>;
	status = "okay";
};

&uart5 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gpio_uart5>;
	status = "okay";
};

&usbh1 {
	vbus-supply = <&reg_usb_h1_vbus>;
	status = "okay";
};

&usbotg {
	vbus-supply = <&reg_usb_otg_vbus>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gpio_usbotg>;
	disable-over-current;
	srp-disable;
	hnp-disable;
	adp-disable;
	status = "okay";
};

&usdhc3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sd3_sd3 &pinctrl_gpio_sd3>;
	bus-width = <4>;
	cd-gpios = <&gpio4 10 0>;
	wp-gpios = <&gpio7 8 0>;
	no-1-8-v;
	keep-power-in-suspend;
	enable-sdio-wakeup;
	status = "okay";
};

&pcie {
	power-on-gpio = <&gpio6 8 0>;
	reset-gpio = <&gpio6 7 0>;
	status = "okay";
};

&wdog1 {
	status = "okay";
};

&wdog2 {
	status = "disabled";
};

&caam_snvs {
	status = "disabled";
};

